<header>
    <a class="HLogo" href="/">Tikifi</a>
    <div class="searchToolbar">
        <input type="text" placeholder="Search for events and venues">
        <i class="material-icons HSearchI">search</i>
        <!--<a class="HSort"><i class="material-icons HSortI"></i></a>-->
    </div>
    <div class="HRMenu">
        <label class="toggle elFavoritesToggle" onclick="showFavorites()">
            <i class="material-icons HFavoritesI">favorite</i>
        </label>
        <div id="elFavoritesMenu"></div>
        <a id="HLogin" href="/login/google"><img src="assets/btn_google.png"/>Log in</a>
    </div>
</header>

