body {
    background-color: rgb(196, 254, 226);
}

/* Sidebar */

#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 160px;
    height: 100%;
    left: 0;
    font-size: 20px;
    padding-top: 16px;
    padding-left: 16px;
    z-index: 1;
    margin-top: 54px;
}

#sidebar:first-child {
    margin-top: 54px;
}

#sidebar a {
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: 10px;
    margin-right: auto;
    cursor: pointer;
}

#sidebar .material-symbols-outlined {
    vertical-align: middle;
    font-size: 24px;
    margin-right: 6px;
}

#sidebar a:hover {
    color: rgb(132, 142, 143);
    /*border-right: 4px solid;*/
}

/* sidebar (deprecated) */

#content {
    position: absolute;
    padding-top: 64px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100%;
    box-sizing: border-box;
    padding-left: 32px;
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit; 
}

.avm_save {
    background-color: rgb(114, 216, 182);
    font-size: 14px;
    padding: 8px;
    align-self: center;
    border-radius: 3px;
}

.avm_save.draft {
    background-color: inherit;
    
}

.avm_footer {
    margin-top: auto;
    margin-left: auto;
}
  
.dropdown {
    display: none;
    width: 560px;  
    background-color: whitesmoke; 
    padding: 16px;
    padding-bottom: 6px;
    border-radius: 12.5px;
    /*margin-top: -16px; temporary*/
}

.avm_title, .avm_location {
    text-decoration: none;
    background-color: inherit;
    border:none;
    padding-bottom: 6px;
    display: block;
    color: #494949;
    font-size: 22px;
    border-bottom: 4px dashed grey;
    width: 512px;
    margin-top: 20px;
}

.avm_description {
    text-decoration: none;
    background-color: inherit;
    border:none;
    display: block;
    color: #494949;
    font-size: 22px;
    border-bottom: 4px dashed grey;
    width: 512px;
    max-width: 512px;
    margin-top: 10px;
}