@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

html {
    height: 100%;
}

* { 
    font-family: 'Work Sans', sans-serif;
    scrollbar-width: thin;
    scrollbar-color:  #000000 white;
}

*::-webkit-scrollbar-track {
    background: white;
}

body {
    background-color: rgb(253, 242, 250);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0px;
    height: 100%;
}

*::-webkit-scrollbar {
    width: 8px;
    margin-top: -20px;
}
    
*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 4px;
}

a, a:link, a:visited,
p, p:link, p:visited {
    text-decoration: none;
}

.custom_input {
    outline: none;
    background-color: inherit;
    color: inherit;
    border: 0px;
}

::placeholder { 
    color: inherit;
    opacity: 1; 
}
  
:-ms-input-placeholder {
    color: inherit;
}
  
::-ms-input-placeholder { 
    color: inherit;
}

.HLogo {
    color: rgb(33, 156, 140) !important;
    font-size: 26px;
    padding: 16px;
}

.HRMenu {
    display: flex;
    align-items: center;
}

.menu_link.highlighted {
    color: rgb(33, 156, 140) !important
}

#HLogin {
    color: white;
    background-color: rgb(33, 156, 140); 
    border-radius: 20px; 
    font-size: 14px;
    padding: 10px;
    padding-right: 15px;
    margin-right: 10px;
    display: flex;
    align-content: center;
    white-space: nowrap; 
    text-decoration: none;
}

#HLogin img {
    width: 14px;
    margin-right: 5px;
    background-color: white;
    padding: 2px;
    border-radius: 10px;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1;
    overflow: hidden;
}

#el_profile_menu .material-symbols-outlined {
    margin-bottom: 2px;
    margin-right: 4px;
    vertical-align: middle;
    font-size: 24px;
}

#el_profile_menu a {
    margin-bottom: 5px;
    font-size: 18px;
    color: black;
}

#el_profile_menu a:last-of-type {
    margin-bottom: 0;
}

#el_profile_menu-links {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 12px;
}


#el_profile_menu.permanently_visible {
    display: flex !important;
    top: 54px;
    right: 0px;
    height: 100%;
}

#el_profile_menu.permanently_visible > #el_profile_menu-header {
    border-radius: 0px;
}

#el_profile_menu-header {
    width: 100%;
    height: 128px;
    border-radius: 10px 10px 0px 0px;
    filter: contrast(40%);
    -webkit-filter: contrast(40%);
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    overflow: hidden;
}

#el_profile_menu-header-pfp {
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 86px;
    width: 86px;
    border-radius: 100%;
}

#search-menu {
    display: none;
    position: fixed;
    top: 54px;
    border-radius: 0px 0px 5px 5px;
    width: 412px;
    max-width: 100%;
    flex-direction: column;
    background-color: white;
    max-height: 372px;
    overflow-y: auto;
}

#search-results {
    display: flex;
    gap: 10px;
    /*margin-top: -10px;*/
}

#el_liked_menu, #el_cart_menu {
    z-index: 1;
    width: 352px;
}

#el_profile_menu {
    width: 240px;
}

#el_liked_menu, #el_profile_menu, #el_cart_menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 62px;
    right: 8px;
    background-color: white;
    border-radius: 10px;
}

#el_liked_menu_content, #el_cart_menu_content {
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding-top: 5px;
}


#search-menu-filters {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    display: flex;
    /*background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(111, 161, 154, 0.65) 100%);*/
    background-size: calc(100%) calc(100%);
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    padding-left: 10px;
    justify-content: left;
    gap: 10px;
    border-bottom: 5px solid;
    border-image: 
    linear-gradient(
      to right, 
      rgb(33, 156, 140) 0%,
      rgb(33, 156, 140)
    ) 1;
}

#event_filter_price {
    width: 45px;
    text-align: center;
    font-size: 14px;
}

#event_filter_date {
    width: 140px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

#event_filter_price.unedited,
#event_filter_date.unedited,
.elDate.unedited {
    background-color: lightblue !important;
    color: black !important;
}

.material-symbols-outlined.filter_icon {
    margin-top: -3px !important;
}

#el_cart_menu.show, #el_liked_menu.show, #el_profile_menu.show, #search-menu.show, #buy_ticket_modal.show, #qr_code_scanner_preview.show, #qr_code_settings_button.show, #qr_code_settings.show, #qr_code_scanner_preview_overlay.show, #qr_code_scanner_preview_wrapper.show {
    display: flex !important;
}

/* Search Toolbar Styling */

.searchToolbar {
    /*position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);*/
    border-radius: 0px 0px 5px 5px;
    display: flex;
    align-items: center;
}

.searchToolbar>input {
    border: none;
    background: rgb(142, 248, 234);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 24px;
    width: 300px;
    height: 64px;
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
}

.HSort {
    color: white;
    font-size: 16px;
}

@media only screen and (max-width: 560px) { 
    .searchToolbar { 
        display: none; 
    } 
}




.eventCarousel {
    grid-template-columns: repeat(3);

    display: flex;
    height: 172px;
    max-width: 824px;
    padding-right: 20px;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    /*scroll-snap-type: x mandatory;*/
    gap: 20px;
    overflow-x: scroll;
}

.eventCarousel::-webkit-scrollbar {
    display: none;
}

/* event listing */

.eventListing:first-of-type {
    margin-left: 0px;
}

.eventListing {
    display: grid;
    position: relative;
    height: 172px;
    width: 256px !important;
    scroll-snap-align: start;
}

.elThumb {
    height: 160px;
    width: 256px;
    border-radius: 10px;
}

.elThumb.mini {
    height: 60px;
    width: 96px;
    margin-left: 5px;
}

.elInfo {
    width: 256px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    color:white;
}

.elInfo.mini {
    width: 268px;
}

.elThumbOverlay {
    background-image: linear-gradient(#00000000, #00000042, #000000);
    width: 256px;
    background-size: 268px 160px;
    position: absolute;
    top: 0;
    bottom: 12px;
    right: 24px;
    left: 0;
    border-radius: 10px;
}

.material-symbols-outlined.carousel_button {text-align: center; font-size: 60px; align-self: center; background-color: none; color: black; cursor: pointer }
.material-symbols-outlined.fill {font-variation-settings: "FILL" 1}
.material-symbols-outlined {user-select: none;}
.material-symbols-outlined.HFavoritesI {color: rgb(33, 156, 140); font-size: 32px; vertical-align: middle; margin-right: 8px; content: "favorite"; cursor: pointer}
.material-symbols-outlined.HSearchI { line-height: 64px; z-index: 1; height: 64px; width: 64px; text-align: center; vertical-align: middle; background-color: rgb(49, 233, 208); cursor: pointer; border-radius: 5px;}
.material-symbols-outlined.HSortI { vertical-align: middle; color: rgb(33, 156, 140); }
.material-symbols-outlined.HSortI::before { content: "sort"; }
.material-symbols-outlined.HSortI:hover::before { content: "menu"; }
.material-symbols-outlined.eLTag, .material-symbols-outlined.filter_icon { font-size: 18px; vertical-align: middle; margin-top: -2px; margin-right: 3px;}
.material-symbols-outlined.elBuy { font-size: 28px }
.material-symbols-outlined.elFavorite { font-size: 32px; cursor: pointer; }
.material-symbols-outlined.elFavorite:before { content: "favorite_border"; }
.material-symbols-outlined.uplImg { display: none; font-size: 64px; color: white; z-index: 2; position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.elFavoriteToggle input:checked ~ .material-symbols-outlined.elFavorite { content: "favorite"; color:red; font-variation-settings: "FILL" 1}

.elFavorite {
    position: absolute;
    top: 8px;
    right: 10px;
}

.elFavoriteToggle input {
    position: absolute;
    height: 28px;
    width: 28px;
    opacity: 0;
}

.elTitle, .esTitle {
    font-size: 18px;
    position: absolute;
    bottom: 58px;
    left: 8px;
    color: inherit;
}

.elLocation, .esLocation {
    font-size: 14px;
    position: absolute;
    bottom: 36px;
    left: 8px;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
}

.elBRow, .esBRow {
    position: absolute;
    bottom: 0px;
    left: 8px;
    display: flex;
    gap: 6px;
    justify-content: left;
    flex-direction: row;
    color: white;
    align-items: center;
}

.elPrice, .elDate, .esPrice, .esDate {
    cursor: pointer;
    color: white;
    background-color: rgb(33, 156, 140);
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
}

#event_filter_price_from, #event_filter_price_until {
    max-width: 64px;
}

.elBuy {
    color: black;
    background-color: rgb(175, 245, 235);
    padding: 10px;
    border-radius: 30px;
    font-size: 14px;
    vertical-align: middle;
    position: absolute;
    right: -15px;
    bottom: 0px;
    cursor: pointer;
}

/* Category tag */

.elCTag {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgb(47, 207, 228); /* variable */
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 16px;
    font-size: 12px;
    color: black; /* variable */
    cursor: pointer;
    z-index: 1;
}

/* Featured Category Divider */

.section_divider {
    color: rgb(33, 156, 140);
    font-size: 26px;
    padding: 16px 0px;
    flex-direction: column;
    width: 100%;
}

/* Event Showcase - presentation */

.eventShowcase {
    width: 100%;
    height: 520px;
    margin-bottom: 8px;
}

.esThumb {
    height: 530px;
    width: 100%;
    max-height: 520px;
    object-fit: cover;
} 

.esInfo {
    background-image: linear-gradient(#00000000, #00000042, #000000);
    background-repeat: no-repeat;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 530px;
    position: absolute;
    background-size: 100% calc(100% - 10px);
    color:white;
}

.esTitle {
    font-size: 22px;
    bottom: 70px;
    left: 32px;
}

.esLocation {
    font-size: 18px;
    bottom: 44px;
    left: 32px;
}

.esBRow {
    left: 32px;
}

.esPrice, .esDate {
    padding: 7px;
    border-radius: 5px;
    font-size: 18px;
}

.contentWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 32px;
    gap: 20px;
}

.block-wrapper {
    max-width: 924px;
    display: flex;
    flex-direction: column;
}

.block-wrapper div:not(.eventCarousel) {
    display: flex;
}

.infoParagraph {
    font-size: 18px;
    max-width: 512px;
    max-lines: 20;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 20; /* number of lines to show */
            line-clamp: 20; 
    -webkit-box-orient: vertical;
    
    padding-bottom: 16px;
    vertical-align: top;
    margin-top: -6px;
}


/* listing */

.listing {
    display: flex;
}

.listing.mini {
    width: auto;
    border-style: solid;
    border-image: 
      linear-gradient(
        to right, 
        transparent 0%,
        transparent 12.5%, 
        rgb(33, 156, 140) 12.5%,
        rgb(33, 156, 140) 87.5%,
        transparent 87.5%,
        transparent 
      ) 1;
    border-width: 0 0 2px 0;
    border-image-outset: 0 0 5px 0;
    background-size: calc(100% - 10px) 67px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
}

.listing.mini:last-of-type {
    margin-bottom: 5px;
    border: none;
}

.lThumbWrapper {
    position: relative;
    height: 172px;
    width: 256px;
    cursor: pointer;
}

.lThumbWrapper:not(.mini):hover img {
    filter: brightness(75%);
}

.lThumbWrapper:not(.mini):hover .material-symbols-outlined.uplImg {
    display: inline;
}

.lThumbWrapper.mini {
    height: 60px;
    width: 96px;
}

.lTitle {
    font-size: 24px;
    margin-bottom: 4px;
}

.lTitle.mini {
    font-size: 18px;
    margin: 0px;
    margin-left: 2.5px;
}

.listing_info.mini {
    font-size: 16px;
    margin: 0px;
    margin-left: 2.5px;
}

.lDesc {
    font-size: 18px;
    margin-bottom: 8px;
    max-lines: 3;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.lLocation {
    font-size: 14px;
    left: 8px;
    vertical-align: middle;
}

.lInfo {
    padding-top: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    padding-left: 16px;
}

.lInfo.mini {
    padding-left: 10px;
    justify-content: start;
    color: black;
}

.lInfo.mini a:visited {
    color: black;
}

.lBRow {
  margin-bottom: 8px;
}

.lTag {
    padding-left: 0px;
    border-radius: 5px;
    font-size: 18px;
    vertical-align: middle;
}

/* hover selection logic */
input.lTag:hover, input.lDesc:hover, input.lTitle:hover,
input.lTag:focus, input.lDesc:focus, input.lTitle:focus {
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
    border-radius: 2.5px;
}

.listing.mini:hover {
    background-color: white;
    background-image: linear-gradient(135deg, rgba(49,233,208,.2) 0%, rgba(49,233,208,.3) 100%);
    cursor: pointer;
}
/* end hover selection logic */

.lTag input {
    font-size: 18px;
    background-color: none !important;
}

.material-symbols-outlined.lAction { font-size: 22px; fill:0; vertical-align: middle; align-self: center}
.material-symbols-outlined.m4p_margin {
    margin-top: -4px;
}
.material-symbols-outlined.elBuy::before {  }

/*

    NOTE: I THINK THAT I SHOULD UTILIZE FLEX GAP MORE FOR MOBILE FRIENDLINESS

*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 242, 250);
    margin: auto auto; 
    padding: 20px;
    min-width: 20%;
    min-height: 30%;
    border-radius: 20px;
    font-size: 18px;
}

.round_button {
    background-color: rgb(114, 216, 182);
    font-size: 14px;
    padding: 8px;
    padding-right: 13px;
    padding-left: 13px;
    align-self: center;
    border-radius: 20px;
    cursor: pointer;
}

#start_scanning {
    margin-bottom: 10px;
}

.save_listing_button {
    display: block;
    align-self: flex-end;
    justify-self: flex-end;
}

.buy_listing_button {
    border: 0px; 
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 0;
    margin-right: 0;
}

/* */
.modalHeaderText {
    color: black;
    font-size: 22px;
    margin-bottom: 15px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 22px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
}

.ticket_type {
    display: flex;
    background: linear-gradient(90deg,rgb(114,216,182,1) 0%, rgba(190,247,239,1) 17.5%, rgba(114,216,182,1) 100%); 
    padding: 6px;
    border-radius: 20px;
    padding-right: 16px;
    cursor: pointer;
    color: black;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    gap: 10px;
    justify-content: left;
}

.ticket_emoji {
    background-color: #ede8e6;
    padding: 6px;
    border-radius: 20px;
    font-size: 22px;
}  

.flex_row {
    display: flex;
    flex-direction: row;
}

.ticket_list_table {
    margin-right: auto;
    margin-left: auto;
}

.ticket_list_row th {
    padding: 15px 10px;
    font-weight: 100;
}

.ticket_list_row:nth-child(odd) {
    background-color: whitesmoke;
}

.ticket_list_titles th {
    font-weight: bold;
}

.center_abs {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
}

.material-symbols-outlined.big_placeholder_icon {
    font-size: 100px;
}

#qr_code_scanner_preview {
    width: 312px;
    height: 312px;
    border: 7.5px solid rgb(114, 216, 182);
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    -webkit-transition : -webkit-filter 75ms linear;
}

#qr_code_scanner_preview video {
    max-width: 312px !important;
    max-width: 312px !important;
}

#qr_code_scanner_preview.success {
    filter: sepia(1) hue-rotate(85deg) blur(5px);
    -webkit-transition : -webkit-filter 75ms linear;
}

#qr_code_scanner_preview.failure {
    filter: sepia(1) hue-rotate(320deg) blur(5px);
    -webkit-transition : -webkit-filter 75ms linear;
}

#qr_code_scanner_preview_overlay {
    display: none;

    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    -webkit-transition : -webkit-filter 75ms linear;
}

#qr_code_scanner_preview_message {
    font-size: 26px;

    background-color: rgb(114, 216, 182);
    color: black;

    border-radius: 15%;
    padding: 16px;
    padding-right: 26px;
    padding-left: 26px;
    align-self: center;
    border-radius: 40px;

    z-index: 1;
}

#qr_code_scanner_preview_overlay.show {
    -webkit-transition : -webkit-filter 75ms linear;
}

#qr_code_scanner_preview_wrapper {
    display: none;
    height: 326px; 
    width: 326px; 
    position: relative;
}

#qr_code_settings {
    display: none;
    flex-direction: column;
    text-align: center;
}

#qr_code_scanner_preview.failure ~ #qr_code_scanner_preview_overlay div {
    background-color: red;
}
