<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Tikifi</title>
</head>
<body>
    <header include-html="components/header.html"></header>
    <div include-html="components/sidebar.html"></div>
    <script src="components/header.js"></script>
    <!-- Code for importing components, a server side approach would be better in this case -->
    <script src="assets/include_html.js"></script>

    <div id="content">
        <div class="blockDivider" style="color: black; margin-left: 0px;">Your venues <a id="add_venue">add new</a></div>
        
        <div id="add_venue_modal" class="modal">
            <div class="modalContent">
              <div class="modalHeaderText">Create a new venue<span class="close">&times;</span></div>
              <input class="avm_title" placeholder="Venue Name"></input>
              <textarea class="avm_description" placeholder="Venue Description"></textarea>
              <input class="avm_location" placeholder="Venue Address"></input> 
              <input type="file" name="myImage" accept="image/png, image/gif, image/jpeg" />
              <div class="avm_footer">
                <a class="avm_save draft">Save as draft</a>
                <a class="avm_save">Save and publish</a>
              </div>
            </div>
        </div>

        <div class="listing">
            <div class="lThumbWrapper">
                <img class="elThumb" src="https://preview.redd.it/qm7musm3gnh51.jpg?width=832&format=pjpg&auto=webp&s=ef1ebd8a931a1a9cd77a81f25ed905701611d443">
            </div>
            <div class="lInfo">
                <div class="lBRow">
                    <a class="lTag"><i class="material-icons eLTag">near_me</i>Origo laukuma iela 420</a>
                    <a class="lTag"><i class="material-icons eLTag">euro</i>420</a>
                    <a class="lTag"><i class="material-icons eLTag">schedule</i>69. Okt. 2069</a>
                </div>
                <a class="lDesc">I'm never gonna dance again
                    Guilty feet have got no rhythm
                    Though it's easy to pretend
                    I know you're not a fool
                    I should've known better than to cheat a friend
                    And waste the chance that I'd been given
                    So I'm never gonna dance again
                    The way I danced with you, oh</a>
                <a class="lTitle">Lastādija 2: cyberpunkkkkkkk</a>
            </div>
        </div>

    </div>

</body>
</html>

<script>

var modal = document.getElementById("add_venue_modal");
var add_venue = document.getElementById("add_venue");
var close_modal = document.getElementsByClassName("close")[0];

add_venue.onclick = () => modal.style.display = "flex";
close_modal.onclick = () => modal.style.display = "none";

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>