<div id="sidebar">
    <a><i class="material-icons">home</i> Home</a>
    <a href="events"><i class="material-icons">celebration</i> Events</a>
    <a href="venues"><i class="material-icons">fort</i> Venues</a>
</div>